.container {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    //color: white;
    // background-color: #6d597a;
    // background-color: #6300a5;

    .content {
        max-width: 60rem;
        // border-radius: 12px;
        color: white;

        p{
            padding-left: 1rem;
        }
    }

    .content li {
        padding: 0.25rem 0 0.25rem 0;
    }

    .button {
        margin-top: 1rem;
        padding: 15px 32px;
        border: none;
        color: white;
        background-color: #EF8354;
        font-size: 16px;
        border-radius: 4px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }
}
