.container {
    width: 100vw;
    height: 30rem;
    background: linear-gradient(rgba(45, 49, 66, 0.6), rgba(45, 49, 66, 0.6)), url("../public/images/banner2.jpg");
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    z-index: 2;
    font-family: Jost, sans-serif;
    text-align: center;
    color: white;
    padding-top: 2rem;

    .title {
        font-size: 5rem;
        margin-bottom: 0em;        
    }

    .subtitle {
        font-size: 2rem;
        margin-top: 0em;
        margin-bottom: 0em;
    }

    .location{
        font-size: 1.25rem;
        margin-top: 0rem;
        margin-bottom: 1rem;
    }

    .contact{
        // border: 1px solid white;
        width: 12rem;
        display: flex;
        justify-content: space-between;
    }
}

.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profile {
        background: url("../public/images/evan2.jpg");
        width: 220px;
        height: 220px;
        background-size: cover;
        margin-top: -7rem;
        border-radius: 50%;
        border: 0.5rem solid #463950;
    }
}

@media (max-width: 600px) {
    .container .title{
        font-size: 4rem;
    }
  }
