.header {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;

    p {
        cursor: pointer;
    }

    .leftContent {
        color: white;
    }

    .rightContent {
        color: white;
        display: flex;
        flex-direction: row;

        p {
            padding: 0 0.5rem 0 0.5rem;
        }
    }
}

@media only screen and (max-width: 500px) {
    .header {
        justify-content: space-around;
        text-align: center;

        .leftContent {
            padding-right: 1rem;
        }
    }
}
